<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <appender class="com.google.cloud.logging.logback.LoggingAppender" name="CLOUD">
      <redirectToStdout>true</redirectToStdout>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [level=%level] [thread=%thread] [traceId=%X{traceId}] %logger{36}: %msg%n</pattern>
    </encoder>
  </appender>


  <root level="info">
    <appender-ref ref="CLOUD"/>
  </root>

  <logger level="DEBUG" name="com.straujupite"/>
</configuration>