<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [level=%level] [thread=%thread] [traceId=%X{traceId}]
        %logger{36}: %msg%n
      </pattern>
    </encoder>
  </appender>
  <include resource="org/springframework/cloud/gcp/autoconfigure/logging/logback-appender.xml"/>

  <logger level="DEBUG" name="com.straujupite"/>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <root level="info">
    <appender-ref ref="CLOUD"/>
  </root>
</configuration>
